<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Success</title>
</head>
<body>
    <div class='container bg-dark text-white'>
        <h1>Welcome {{ current_user.first_name }} {{ current_user.last_name }}</h1>
        <h2>Email {{ current_user.email }}</h2>
        <a class='row' href='/wall'>The Wall</a>
        <a class='row' href='/logout'>Logout</a>
    </div>
</body>
</html>